.blurYes {
    transition: 1s;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.profile { 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.form {
    width: 800px;
    height: 450px;
    margin: 30px;
    background: #3a4046;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    color: white;
}

.img-holder img {
    width: 300px;
    height: 300px;
    background: white;
    margin: 10px;
    border: 1px solid black;
}

.profile h1 {
    margin-top: 20px;
}

.profile h3 {
    font-size: 2rem;
}

input {
    width: 300px;
}

.avatar-icon {
    width: 50px;
    transition: .3s;
}

.avatar-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.avatar-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.display-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.subscribe-container {
    padding: 10px;
    width: 400px;
    height: 350px;
    margin: 30px;
    background: #3a4046;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    color: white;
    
}

.subscribe-container p {
    font-size: 18px;
}

.display-column .display-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button .StripeCheckOut {
    width: 50px;
    height: 100px;
}

.card-element {
    background-color: white;
    width: 80%;
    height: 40px;
    fontSize: 40px;
}

.form-container {
    position: absolute;
    width: 500px;
    height: 450px;
    z-index: 5;
    border: 1px solid black;
    background: #3a4046; 
    margin: -500px 400px;
    border-radius: 10px;

}

.stripe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}

.by-stripe {
    width: 60%;
    height: 60px;
    border: 2px solid rgba(209, 209, 221, 0.2);
}

.x {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    align-content: center;
}

.x:hover {
    cursor: pointer;
    color: lightgray;
}

.stripe-btn {
    width: 220px;
    margin: 0px;
}

.btc-qr-code {
    height: 150px;
    width: 150px;
}