.user {
    background-color: #3a4046;
    margin: 10px;
    min-width: 25vw;
    display: flex;
    justify-content: space-between;
    border: 1.3px solid rgba(119, 113, 113, 0);
    align-items: center;
    border-radius: 5px;
}

.user:hover {
    cursor: pointer;
    border: 1.3px solid rgb(202, 202, 202);
}

.user-solo {
    background-color: #3a4046;
    margin: 20px;
    height: 120px;
    min-width: 25vw;
    display: flex;
    justify-content: space-between;
    border: 1.3px solid rgb(34, 34, 34);
    align-items: center;
    border-radius: 5px;
}

.user-cont {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
}

h2 {
    color: white;
}

.user-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-info > img {
    border: 1px solid black;
    margin: 5px;
}

.user-info > h1 {
    color: white;
}

.basic-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.lower-cont {
    width: 600px;
    height: 627px;
    background-color: #3a4046;
    border: 1.3px solid rgb(34, 34, 34);
}

.lower-cont > h1 {
    margin-bottom: 5px;
}

.single-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-bottom: 100px;
}

.name {
    display: flex;
    align-items: center;
}

.dota-plus-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.dota-plus-icon-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #2e3740;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    border: 2px solid #282c34;

    /* Position the tooltip */
    position: absolute;
    top: 15px;
    z-index: 1;
    transform: translate(5px, 0px);
}

.dota-plus-icon-div:hover .dota-plus-icon-tooltip {
    visibility: visible;
}

.recent-matches {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    justify-content: space-between;
}

.recent-match-row {
    padding: 6.3px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.recent-match-row:nth-child(odd) {
    background-color: #67727c;
}

.recent-match-row .hero-icon {
    margin-left: 10px;
}

.recent-match-row h2 {
    font-size: 1.2rem;
}

.top-two-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-user {
    height: 40px;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
}

.single-user button {
    width: 160px;
}

.single-user .display-row button {
    width: 230px;
    margin: 20px;
    margin-bottom: 50px;
}

.recent-stats-container {
    width: 500px;
    height: 425px;
    background-color: #3a4046;
    border: 1.3px solid rgb(34, 34, 34);
    margin-right: 500px;
    margin-left: 30px;
}

.lower-container-recent-matches {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.recent-stats-container h2 {
    font-size: 2rem;
    transform: translate(0px, 10px);
}

.display-column-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    height: 80%;
    margin-top: 30px;
}

.display-column-left .stat-container-row {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-column-left .stat-container-row h3 {
    color: white;
    font-size: 1.5rem;
    margin: 0px 10px;
}

.display-column-left .stat-container-row:nth-child(odd) {
background-color: #67727c;
}

.hero-icon {
    min-width: 80px;
    height: 40px;
    margin: 0px;
}

.hero-icon-and-name {
    display: flex;
    align-items: center;
}

.hero-icon-and-name .hero-icon {
    width: 40px;
}

.lower-cont .display-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.lower-cont .display-row h3 {
    color: white;
    font-size: 1.3rem;
}

.kda {
    min-width: 60px;
}

.display-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.display-column-top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-img-name {
    display: flex;
    justify-content: flex-start;
    min-width: 90px;
    align-items: center;
}

.recent-match-stats-row {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.Won {
    color: rgb(34, 177, 34);
    font-weight: bold;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    text-shadow: .5px .5px #000000;
    transform: scale(1.3);
}

.Lost {
    color: rgb(253, 80, 80);
    font-weight: bold;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
    text-shadow: .5px .5px #000000;
    transform: scale(1.3);
}

.hero-name {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.badges {
    background-color: #3a4046;
    margin: 20px;
    margin-bottom: 50px;
    width: 20vw;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    border: 1.3px solid rgb(34, 34, 34);
    align-items: center;
    border-radius: 10px;
}

.display-row-3 {
    display: flex;
    min-width: 320px;
    justify-content: space-between;
}

.doughnut {
    height: 0px;
    width: 0px;
}

.doughnut-cont {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 500px;
    height: 100px;
}

.donut-div {
    margin-left: 50px;
    margin-top: 10px;
}

.follow-cont {
    background-color: #3a4046;
    margin: 20px;
    height: 120px;
    width: 400px;
    border: 1.3px solid rgb(34, 34, 34);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

}

.followee-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
    margin-left: 0px;
    margin-top: 5px;
    border: 1px solid rgba(119, 113, 113, 0);
}

.followee-cont h3 {
    margin-left: 10px;
}

.followee-cont img {
    margin-right: 10px;
}

.followee-cont:hover {
    border: 1px solid white;

}

.profile-img-followee {
    height: 50px;
    width: 50px;
}

.element {
    height: 200px;
    width: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.login-h3 {
    width: 200px;
    font-size: 26px;
    background-color: #3a4046;
    padding: 15px;
    border: 1.3px solid rgb(34, 34, 34);
    border-radius: 5px;
}

.my-followed-users {
    background: #3a4046;
    padding: 15px;
    border-radius: 5px;
    border: 1.3px solid rgb(34, 34, 34);
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.fa-expand {
    color: white;
    transform: scale(1.2);

}

.fa-expand:hover {
    cursor: pointer;
}

.display-row-minimize-cont {
    display: flex;

}

.fa-window-minimize {
    position: relative;
    top: 20px;
    right: 20px;
    background: #3a4046;
    border: 1.3px solid rgb(34, 34, 34);
    padding: 5px;
    height: 20px;
    color: white;
    border-radius: 5px;
}