.dashboard {
    height: 100vh;
    width: 100vw;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.dashboard-cont {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dashboard > h1 {
    font-size: 3rem;
    margin: 20px
}

.profile-img {
    height: 100px;
    width: 100px;
}

.flex-row {
    display: flex;
    margin: 20px;
}

.flex-row > h3 {
    margin-right: 5px;
    font-size: 1.2rem;
}

.flex-row button {
    width: 240px;
}

.flex-row input {
    height: 44px;
}