.dashboard {
    height: 80vh;
    width: 100vw;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.dashboard-cont {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dashboard > h1 {
    font-size: 3rem;
    margin: 20px
}

.profile-img {
    height: 100px;
    width: 100px;
}

.flex-row {
    display: flex;
    margin: 20px;
}

.flex-row > h3 {
    margin-right: 5px;
    font-size: 1.2rem;
}

.flex-row button {
    width: 240px;
}

.flex-row input {
    height: 44px;
}

.open-dota {
    height: 50px;
    width: 50px;
}

.input-and-dashboard-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-dota-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    background: rgb(198,243,254);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.open-dota-container h3 {
    font-size: 30px;
    color: black;
} 

a:hover {
    cursor: pointer;
}